<% title "下载中心 - 厦门车快美汽车服务有限公司" %>

<div style="width: 990px;margin-top:10px;"><img src="/assets/about.png" /></div>

<div class="content clearfix">

  <div class="nleft">
    <h2 class="ntitle">下载中心</h2>
    <ul class="nul">
      
    </ul>
  </div>

  <div class="nright">
    
    <div class="bc"><span class="ch">Introduce</span><span class="sch">下载中心</span></div>
    
    <div class="wra">
      
      <ul>
        <% @downloads.each do |download| %>
          <li>
            <span class="span1"><a href="<%= download_path(download) %>"><%= download.title %></a></span>
          </li>
        <% end %>
      </ul>

      <div class="page">
        <%= paginate @downloads %>
      </div>

    </div>

  </div>

</div>