<div class="content clearfix">
  <div class="nleft">
    <h2 class="ntitle">走进车快美</h2>
    <ul class="nul">
      <% @abouts.each do |about| %>
      <li <%= raw "class='actived'" if params[:id] == about.id.to_s %>><a href="/about/<%= about.id %>"><%= about.title %></a></li>
      <% end %>
    </ul>
  </div>

  <div class="nright">
    <%= raw @about.content %>
  </div>

</div>