<% title "招商政策 - #{@zhaoshang.title} - 厦门车快美汽车服务有限公司" %>

<div style="width: 990px;margin-top:10px;"><img src="/assets/about.png" /></div>

<div class="content clearfix">

  <div class="nleft">
    <h2 class="ntitle">招商政策</h2>
    <ul class="nul">
      <% @zhaoshangs.each do |zhaoshang| %>
      <li <%= raw "class='actived'" if params[:id] == zhaoshang.id.to_s %>><a href="/zs/<%= zhaoshang.id %>"><%= zhaoshang.title %></a></li>
      <% end %>
    </ul>
  </div>

  <div class="nright">
    
    <div class="bc"><span class="ch">investment </span><span class="sch">招商政策</span></div>
    
    <div class="wra">
      <%= raw @zhaoshang.content %>
    </div>

  </div>

</div>