// Place all the styles related to the abouts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nleft{
  width: 160px;float: left;
  .ntitle{background: url(tit.png) no-repeat; width: 157px; height: 42px;line-height: 42px;
    text-align: center;color:#fff; font-size: 15px;
    letter-spacing: 5px;
  }
  .nul{
    margin-top: 6px;
    li{
      background: url(nbg.png) no-repeat; width: 157px; height: 37px; line-height: 37px;
      margin-bottom: 0px;
      text-align: center;
      font-size: 13px;
      a{color: #666;}
    }
    .actived{
      background: #dbdbdb;
      a{color: red;}
    }
    li:hover{
      background: #dbdbdb;
      a{color: red;}
    }
  }
}

.nright{
  float: left;
  width: 830px;
  .bc{height:40px;background:#f4f4f4; line-height:40px;}
  .wra{
    padding-left:20px;
    padding-top: 10px;
  }
  .wra li{
    height: 34px;line-height: 34px;
    border-bottom: 1px dashed #e6e5e5;  
  }
  .wra a{color:#666;}
  .wra a:hover{text-decoration: underline;}
}

.ch{
  font-size: 30px;color:#9C9C9C; padding-left:32px;
}
.sch{
  font-size: 16px; color:#96423c;padding-left:8px; line-height: 32px;
}

.span1{width: 650px; float: left; font-size: 13px;}
.span2{width: 95px; float: right; color: #999;}

.service{padding-left:3px !important;padding-top: 16px !important;}
.service li{
  width:205px !important; float:left;
  height: auto !important;
  border: 0px !important;  
  .caption{text-align: center;}
  .ppi{
    width:195px;
    height:165px;
    overflow: hidden;
  }
  a{font-size: 14px;}
}

.pdesc{
  background:url(desc.png) no-repeat;margin:30px 0px 0px 0px;
  padding-top:50px;
  clear: both;
}
.pname{
  font-size: 14px;
  margin-left: 12px;
  float: left;
  width: 460px;
  margin-bottom: 6px;
}
.ckmpic{
  float:left;width:284px;
}
#pshow{padding:25px 20px 20px 20px;}

.ckmregion{font-size:14px;padding:0px 0px 0px 8px; height: 80px;}
.ckmregion span{float: left; width: 70px; }
.ckmregion .sele a{color:#f60;font-weight:bold;}