/*
 *= require_self
 *= require home
 *= require abouts
 */

/*reset*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {margin: 0; padding: 0; }
div {word-wrap: break-word; word-break: break-all; margin: 0 auto; }
fieldset, img {border: 0; }
:focus {outline: 0; }
address, caption, cite, code, dfn, em, strong, th, var, optgroup {font-style: normal; font-weight: 400; }
h1, h2, h3, h4, h5, h6 {font-size: 100%; font-weight: 400; }
abbr, acronym {border: 0; font-variant: normal; }
input, button, textarea, select, optgroup, option {font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
body {line-height: 1.5; font-family: Tahoma, sans-serif; }
ol, ul {list-style: none; }
table {border-collapse: collapse; border-spacing: 0; }
caption, th {text-align: left; }
sup, sub {font-size: 100%; vertical-align: baseline; }
:link, :visited, ins {text-decoration: none; }
code, kbd, samp, tt, input, button, textarea, select {font-size: 100%; }
.clearfix {
  *zoom: 1;
  clear: both;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
/*global*/
body {font-family:"Microsoft YaHei","微软雅黑",helvetica,arial,verdana,tahoma,sans-serif; font-size: 12px; color: #414141; background-color: #fff;margin-top:-2px !important;}