// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.header{
  width: 100%;
  height: 145px;
}
.top{
  width: 990px;
  height: 100px;
  background: url(logo.gif) 8px 38px no-repeat;
}
.menu{
  width: 100%;
  height: 44px;
  line-height: 44px;
  background: url(menu_bg.gif) repeat-x;
}
.menu ul{
  width:990px;
  margin:0 auto;
  position: relative;
}
.menu li{
  width: 110px;
  float: left;
  color:#fff;
  font-size: 14px;
  text-align: center;
  height: 44px;
  line-height: 44px;
  margin-right: 3px;
}

.mhover{
  background: url(menu_select.gif) repeat-x;
}

.moremenu{
  display:none;
  width:950px; /*height: 173px;*/ 
  z-index: 1001;filter:alpha(opacity=90);
  left:0px; position: absolute; 
  top:44px; background-color:#0088cc; 
  opacity: 0.9; 
  padding-left: 40px;
  .mli{float: left;width: 160px; font-size: 14px;}
}

#home{
  width:90px;
}
.menu li a{
  color: #fff;
}
.select{
  background: url(menu_select.gif) repeat-x;
}
.mapwrap{
  width: 100%;
  height: 350px;
  background: url(map_1.png) 0px bottom repeat-x;
  
}
.map{
  width:990px;
  height: 350px;
  margin-top: 10px; 
  overflow: hidden
}
#container{
  width:990px;height:350px;
  background: url(map_2.png);
}
.content{
  margin-top: 8px;width: 990px;
}
.le{
  float: left;
  width: 680px;

  .box{
    margin-top: 12px;
    background: url(cbg.gif) 0px bottom repeat-x;
    height: 215px;
    .txtz{
      width: 375px;float: left;
      li{
        height: 28px;line-height: 28px;
        background: url(ico.gif) 16px 50% no-repeat;
        padding-left: 30px;
        overflow: hidden;
      }
      li a{
        font-size: 14px;
        color:#666;
      }
    }
  }
  .focus{
    float: left;
    width: 305px;
  }
  #pro{
    margin-top: 0px;
  }
}

.title{
  border-bottom: 4px solid #004ca7;
  height: 32px;
}
.hh{
  float: left;
  width: 90px;
  color: #fff;
  background: #004ca7;
  height: 32px;
  line-height: 32px;
  text-align: center;
  font-size: 14px;
}
.hh a{
  color:#fff;
}
.more{
  float: right;
  width: 80px;
  text-align: right;
  padding-right: 10px;
  font-size: 12px;
  line-height: 34px;
}
.more a{
  color: #333;
} 

.sm{
font-size: 14px; line-height: 25px;padding: 8px 30px 20px 14px;
color:#999;
}

.ri{
  width: 290px; float: right;
  .video{width: 290px; height: 230px;margin-top: 28px;}
  .vs{
    margin-top: 26px;
    border:1px solid #e2dedf;
    a{color:#1e1e1e;}
    ul{margin: 16px 0px 0px 16px;}
    li{
      height: 36px; line-height: 36px;
      background: url(vbs.png) no-repeat;
      padding-left: 40px;
      margin-bottom: 8px;
    }
  }
  .vbs{
    font-size:16px; background: #fbfbfd;font-weight: bold; 
    color:#004ca7;padding-left: 20px;height: 33px;
    line-height: 33px;
    border-top:3px solid #004ca7;
    border-bottom: 1px solid #e2dedf;
  }
}

.tp{
  overflow: hidden !important;
  margin-left: 7px;
  width: 670px;
  ul{
    width: 1380px;
  }
  li{
    width: 322px;
    height: 229px;
    background:url(pbg.png) no-repeat;
    float: left;
    margin-right: 14px;
    .name{
      font-size: 14px;
      padding:8px 0px 0px 45px;
    }
    img{
      margin: 8px 0px 0px 18px;
    }
  }
}

.pre,.next{cursor:pointer}


.fc{
  width: 1100px;
  .title{width: 990px; float: left;}
}

#my{
  padding-top: 15px;
  .meng{
    background: none;
    width: 182px;
    margin-right: 20px;
    height: 170px;
    float: left;
    font-size: 12px;
    overflow: hidden;
    img{
      width: 182px;
      height: 125px;
    }
    div{margin-top:5px;}
    a{font-size: 12px;color:#333;}
    .dm{font-weight: bold;}
  }
}

#ser{
  position: relative;
  background:none;height: auto;
  .pre{position: absolute;left:-20px;top:180px;z-index: 999}
  .next{position: absolute;right:-10px;top:180px;z-index: 999}
  .tp{
    width: 1200px;
    margin-left: -2px;
  }
  margin-top: 15px;
  ul{
    width: 1380px;
  }
  li{
    width: 322px;
    height: 229px;
    background:url(pbg.png) no-repeat;
    float: left;
    margin-right: 14px;
    .name{
      font-size: 14px;
      padding:8px 0px 0px 45px;
    }
    img{
      margin: 8px 0px 0px 18px;
    }
  }
}


#product{
  position: relative;
  background:none;height: auto;
  .pre{position: absolute;left:-20px;top:180px;z-index: 999}
  .next{position: absolute;right:-10px;top:180px;z-index: 999}
  .tp{
    width: 1200px;
    margin-left: -2px;
  }
  margin-top: 15px;
  ul{
    width: 1380px;
  }
  li{
    width: 322px;
    height: 229px;
    background:url(pbg.png) no-repeat;
    float: left;
    margin-right: 14px;
    .name{
      font-size: 14px;
      padding:8px 0px 0px 45px;
    }
    img{
      margin: 8px 0px 0px 18px;
    }
  }
}


.footer{
  width: 100%; height: 130px;
  background: url(bottom.png) repeat-x;
  margin-top: 0px;
  text-align: center;
  .cc{
    width: 900px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 6px;
    li{
      display: inline;
      padding: 0px 2px 0px 2px;
      a{color:#666;}
      a:hover{text-decoration: underline;}
    }
  }
}

.content{_overflow:hidden; margin-top: 15px;}
.title{height:28px; overflow:hidden;}
.view{color:#999;width:40px;float:right;}
.ckmnav{width: 990px;margin-top:10px;font-size:13px;color:#999;}
.ckmnav a{color:#999;}

.ad1{width:120px;height:400px;position: absolute;left:2px;top:155px;}
.ad2{width:120px;height:400px;position: absolute;right:2px;top:155px;}
.clos{position:absolute;left: 5px;top: 8px;color:#fff;cursor: pointer;}

.online{background:url(qq.gif) no-repeat;width:114px;
  height:257px;position:fixed; _position: absolute;z-index: 99999999;right:2px;bottom:20px;
  padding-top: 20px;
}
.online a{display: block;height: 30px;line-height: 30px;color:#fff; text-align: center;}
.gotop{position: absolute; bottom: 10px; text-align: center; color:#fff; font-weight: bold;width: 110px;cursor: pointer;}
.flink{width:980px;margin:38px auto 10px auto;color: #666;font-size: 14px;
  border-top: 1px dotted #f1f1f1;
  padding-top: 10px;
}
.flink a{font-size: 12px;color: #999;padding-right: 16px;}
#flink{margin-top: 5px;}
/**/
.clearfix {
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}
.clearfix:after {
  clear: both;
}
.hide-text {
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}
.input-block-level {
  display: block;
  width: 100%;
  min-height: 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pagination {
  margin: 20px 0;
}
.pagination ul {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  margin-left: 0;
  margin-bottom: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.pagination ul > li {
  display: inline;
}
.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #999999;
  cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #999999;
  background-color: transparent;
  cursor: default;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  border-bottom-right-radius: 4px;
}
.pagination-centered {
  text-align: center;
}
.pagination-right {
  text-align: right;
}
.pagination-large ul > li > a,
.pagination-large ul > li > span {
  padding: 11px 19px;
  font-size: 17.5px;
}
.pagination-large ul > li:first-child > a,
.pagination-large ul > li:first-child > span {
  -webkit-border-top-left-radius: 6px;
  -moz-border-radius-topleft: 6px;
  border-top-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  border-bottom-left-radius: 6px;
}
.pagination-large ul > li:last-child > a,
.pagination-large ul > li:last-child > span {
  -webkit-border-top-right-radius: 6px;
  -moz-border-radius-topright: 6px;
  border-top-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  border-bottom-right-radius: 6px;
}
.pagination-mini ul > li:first-child > a,
.pagination-small ul > li:first-child > a,
.pagination-mini ul > li:first-child > span,
.pagination-small ul > li:first-child > span {
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-left-radius: 3px;
}
.pagination-mini ul > li:last-child > a,
.pagination-small ul > li:last-child > a,
.pagination-mini ul > li:last-child > span,
.pagination-small ul > li:last-child > span {
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  -webkit-border-bottom-right-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  border-bottom-right-radius: 3px;
}
.pagination-small ul > li > a,
.pagination-small ul > li > span {
  padding: 2px 10px;
  font-size: 11.9px;
}
.pagination-mini ul > li > a,
.pagination-mini ul > li > span {
  padding: 0 6px;
  font-size: 10.5px;
}
.pager {
  margin: 20px 0;
  list-style: none;
  text-align: center;
  *zoom: 1;
}
.pager:before,
.pager:after {
  display: table;
  content: "";
  line-height: 0;
}
.pager:after {
  clear: both;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #f5f5f5;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  background-color: #fff;
  cursor: default;
}
